
<%= render 'form', item: @item %>

<button class="btn btn-success btn-sm"><%= link_to 'Show', @item %></button>
<button class="btn btn-primary btn-sm" style="margin-left:5em"><%= link_to 'Back', items_path %></button>

 