
h1,h2,h3,h4{
    color:#d0e1d7;
    font-family: 'Sonsie One', cursive;
}
.card{
 padding:20px;
  background-color:#E3E9B8 ;
  border: 3px solid #656a3d;
  border-radius:7px;

}
.card h4{
      color:#1b1d10;
}
.card-img-top{
    
     width:300px;
}
.newItemBtn{
    padding:3px;
    margin-bottom:5px;
    background:#e3e9b8;
    border: 3px solid #656a3d;
    
}

.card-img-top{
  width:100%;
  height:auto;
}

.track{
  
    text-align:center;
}
.track h4{
    color:#1b1d10;
  
}