<h1>Categories</h1>

<br>

<table class="catalog">
    
    <% @categories.each do |category| %>
    
        <tr>
            <td>
                <div class="category">
                    <p><%= category.title %></p>
                </div>
            </td>
        </tr>
            
    <% end %>
    
</table>